@charset "UTF-8";
.clacWrap {
  > .clacHeader, .clacDesc {
    padding: 1rem;
    display: flex;
    background: #fff;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  >.clacHeader {
    background: #E76666;
    justify-content: space-between;
    @media(max-width:360px){
      flex-direction: column;
    }
    h2, p, span {color: #fff;}
  }
}
.clacDesc {
  flex-direction: column;
  .clacBtns {
    display: flex;
    button {padding: .4rem 0;}
    > button:not(:last-child) {
      margin-right: 10px;
    }
  }
  .clacResult {
    ul {
      border-radius: 8px;
      position: relative;
      background: #e0e7ff;
      padding: 1rem 0;
      margin: 1rem 0;
      li, h3 {
        padding: .2rem 1em;
      }
      li {
        font-size: 14px;
      }
      a {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
      }
    }
  }
}
.calcTable {
  font-size: 14px;
  overflow-x: auto;
  table {width: 100%;}
  th, td {
    word-break: keep-all;
    min-width: 70px;
    padding: 8px 4px;
  }
  td {
    border-top: 1px solid #eee;
    text-align: center;
  }
  td:last-child {
  text-align: right;
  }
}
