.popupBg {
  z-index: 10;
}
.popup {
  z-index: 11;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 70%;
  span {
    text-align: left;
    padding: 1rem 0;
  }
  div {
    display: flex;
    flex-direction: row;
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.store-reset {
  margin: 0 auto;
  width: 80%;
  word-break: keep-all;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);


  .store-txt {
    display: flex;
    flex-direction: column;
    i {font-size: 5em; color: #ccc; text-align: center;}
    h6, h3 {
      text-align: center;
    }
    h6 { padding-top: 1rem;}
    h3 {padding-bottom: 1rem;}

  }
  .btnWrap {
    display: flex;
    justify-content: center;
    button {
      width: 180px;
      cursor: pointer;
      background: #e76666;
      color: #fff; font-size: 16px;

    }
  }
}
