.popupBg {
  z-index: 10;
}
.popup {
  z-index: 11;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 70%;
  span {
    text-align: left;
    padding: 1rem 0;
  }
  div {
    display: flex;
    flex-direction: row;
    button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
