@charset "UTF-8";
.imgAttach {
  .attachWrap {
    display: flex;
    margin-top: 1rem;
    .attachImg {
      position: relative;
      flex:1;
      // background: #fff;
      border: 1px solid #ddd;
      border-radius: 6px;
      overflow: hidden;
      height: 120px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      img {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        // width: 100%;
        width: 100%;
      }
      label {
        position: absolute; z-index: 999;
        display: flex;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        i {
          font-size: 3rem;
          color: #555;
          opacity: .5;

        }
      }
      input[type="file"] {
        visibility: hidden;
      }
    }
  }
}
.store-info {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  margin-top: 1rem;
}
.info-resets {
  input {
    margin-bottom: .5rem;
  }
}
.adressSearchWrap {
  display: flex;
  input {
    flex:1;
    &:first-child {margin-right: 10px;}
    &:last-child {
      flex: .2;
      background: #333;
      margin-right: 0;
    }
  }
}
.btns {
  display: flex;
  input{
    margin: 1rem 0;
    &:not(:last-child) {
      margin-right: 10px;
      background: #aaa;
    }
  }
}
.telWrap {
  display: flex;
  input {
    flex:.2;
    &:first-child {margin-right: 10px;}
    &:last-child {
      flex: 1;
      margin-right: 0;
    }
  }
}
