@import url("store.css");
.thumbnail {
  article {
    div {
      &:nth-child(2) {
        position: relative;
        i {
          color: tomato;
          position: absolute; right: 16px;
        }
      }
    }
  }
}
