@import url("store.css");
.thumbnailWrap {
  > h3 {
    justify-content: flex-start;
    > span {
      box-sizing: border-box;
      margin: 1rem .5em;
      > a {
        -webkit-tap-highlight-color:transparent;
        background: #ffffff;
         font-size: 16px;
         padding: 6px 1em;
         border-radius: 2em;
         outline: none;
      }
    }
  }
}
// 초기화
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom: 1rem;
  > article {
    background: #fff;
    border-radius: 8px;
    > div:first-child {
      // height: auto;
      display: flex;
    }
    > div:last-child {
      padding: 1rem;border-radius: 8px;
      h4 {
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.storeViewWrap {
  background: #fff !important;
}
.storeView {
  flex-direction: row;
  >h4 {
    padding: 0 .4em;
    .line-through {
      display: inline-block;
      margin: 12px 0 0;
      text-decoration:line-through;
    }
    p {
      color: #e76666; font-size: 18px; margin:0;padding:0;
    }
  }
}
.goods-desc-Wrap {
  padding: 0 1.45em;
}
.goods-desc {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  h3 { padding: 2rem 0 0;}
  h4 {padding: 8px 0 4px;}
  .designPage {
    // margin: 1rem 0 0;
    background: #ccc;
    height: auto;
    border-radius: 4px;
    img {
      border-radius: 4px;
    }
  }
}
.btnWrap-goodsDetail {
  position: fixed;z-index: 9;
  bottom: 70px;
  display: flex;
  width: 100%;
  transition: all .4s ease-in-out;
  padding: .5rem 2em;
  @media(min-width:640px) {
    max-width: 640px;
    left: 50%; transform: translate(-50%);
  }
  @media(max-width: 360px) {
    flex-direction: column;
  }
  button {
    background: #4338CA;
    color: #fff;
    height: 40px; cursor: pointer;
    border-radius: 2rem; padding: 6px 1em;
    box-shadow: 0 0 22px 4px rgba(150,150,150,.3);
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  button:nth-child(2) {
    background: #fff;
    height: 40px;
    position: relative;
    color: #111;
    padding-left: 5em;
    font-size: 12px;
    text-align: left;
    line-height: 1.2;
    -webkit-tap-highlight-color:transparent;
    br {
      @media(max-width: 360px) {
        display: none;
      }
      @media(min-width: 480px) {
        display: none;
      }
    }
    > span {
      position: absolute;
      left: -4px; top: 0;
    }
  }
  button:last-child {
    -webkit-tap-highlight-color:transparent;
    background: #fff;
    i {
      color: #222;
    }
  }
}
#btnsBg {
  position: fixed; z-index: 8;
  width: 640px; bottom: 50px;
  height: 80px;
  left: 50%; transform: translate(-50%);
  transition: all .3s ease-in-out;

}
.btnsBgView {
  background: #222;
  padding: 2rem;
  opacity: .5;
}
// F2CECE
