  @import url("goods.css");
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
section {
  background: #FDE7CC;
}
.myinfoBodyWrap {
  padding-bottom: 5em;
}
.myinfoWrap {
  display: flex;
  justify-content: center;
}
.myinfoWrap {
  padding-bottom: 0;
  .myinfo {
    margin-top: 1rem;
    position: relative;
    background: #fff;
    width: 100%; border-radius: 8px; padding: 1.4rem 1em;
    @media(min-width: 310px) {max-width: 310px;}
    .myinfoCardWrap {

      .myinfoCard {
          display: flex; justify-content: center;
        .myinfotxt {
          display: flex; padding:1rem;
          .myinfofoto { padding-right: 10px; >i{font-size: 2rem; color: #999;}}
          .myinfoprofile {display: flex;justify-content: center; flex-direction: column; font-size: 14px; text-align: left;}
        }

      }


    }
    .myinfoset {
      font-size: 18px; position: absolute; right: 10px; top: 10px; color:#222;
    }

  }

}
.btn-mainWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.btn-main {
  background: #fff;
  border-radius: 8px;
  padding: 1rem 0;
  width: 100%;
  position: relative;
  > a {
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
  }
  @media(min-width:360px) {
    width: 150px;
  }
  i {
    font-size: 40px; color: #EE7766;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
  text-align: center;
  font-size: 14px;
  padding: 1rem 2em;
  hr {
    border: none;
    background: #F4E3E1;
    height: 1px;
    margin: .7rem 0;
  }
}
.myinfoupdate {
  background: #f5f5f5;
  input {background: #fff;}
}
.myinfoupdateBtn {
  margin-top: 1em;
  button {background: #e76666; color: #fff;}

}
.myinfoupdateBtnBool {
  display: flex;
  button {
    background: #ddd;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
// 쿠폰함
.thumbnailWrap {
  .tabBtnWrap {
    display: flex;
    justify-content: center;
    margin: 1em 0 2em;
    > button {
      cursor: pointer;
      background: #ddd;
      width: 150px;
      &:not(:last-child) {
        margin-right: 10px;
        background: #e76666; color: #fff;
      }
    }
  }
}
.thumbnailWrapoff {
  .tabBtnWrap {
    display: flex;
    justify-content: center;
    margin: 1em 0 2em;
    > button {
      cursor: pointer;
      background: #e76666; color: #fff;
      width: 150px;
      &:not(:last-child) {
        margin-right: 10px;
        background: #ddd; color: #222;
      }
    }
  }
}
.couponoff {
  > article {
    > div {
      filter: grayscale(100%);
    }
  }
}
.couponcaution {
  max-width: 480px;
  padding: 0 1em 0;
  > div {
    background: #f9f9f9;
    border: 1px dashed #ccc;
    padding: 1.4rem;
    margin: 0 .4em 1rem;
    border-radius: 1.2rem;
    // margin: 0 .45em;
    h4 {
      padding: .4rem 0;
    }
    p {
      font-size: 14px;
    }
  }
}
.couponconfirmWrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @media(min-width: 480px) { width: 480px;}
  > .couponconfirm {
    .col {
      display: flex;
      justify-content: center;
      @media(min-width: 480px) {padding: 0 1em;}
      button {
        background: #e76666; color: #fff;
        cursor: pointer;
        margin: 0; font-size: 16px;font-weight: 500;
        padding: 14px 24px;
        margin: 0 .4em;
      }
    }
    .col:last-child {
      padding: 0 1.4em 0 2.2em;
      word-break: keep-all;
      padding-top: 1em;
      @media(min-width: 480px) {
        width: 480px;
      }
      ul {
        li {
          list-style: disc;
          font-size: 14px;
          ;
        }
      }
    }
  }

}
