@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*,body{
   font-family: 'Noto Sans KR', sans-serif;
   margin:0;padding:0;list-style:none;
   box-sizing:border-box;text-decoration:none;
   color: #222;
}
body {background: #fff;}
h1{font-size: 20px;}h2{font-size: 18px;}h3{font-size: 16px;}h4{font-size: 14px;}
h5{font-size: 18px;}h6{font-size: 14px; font-weight: 500;}
.thumbnailWrap, .container, header, section, .main, footer {
   background: #f5f5f5;
   max-width: 768px;
   margin:0 auto;
}
.slogan {
   position: absolute; z-index: 5;
   left: 50%; top: 50px;
   transform: translate(-50%, 70%);
   h2,h1 {color: #fff;}
}
.megaImg {
   display: flex;
   justify-content: center;
   position: relative; top: -30px;
}
header {
   height: 210px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: #602EDE;
   border-radius: 0 0 4rem 4rem;
   overflow: hidden;
   > img {
      @media (max-width: 360px) {
         height: 100%;
      }
   }
}
.megaImg {
   width: 100%;
   height: 70px;
   // border: 1px solid tan;
}
.thumbnailWrap {
   > h3 {
      font-weight: 500;
      padding: 10px 2em;
      display: flex;
      justify-content: space-between;
      span > a{
         font-size: 14px;
         padding: 4px 12px;
         border-radius: 3px;
         border:none;
         background: #fff;
      }
   }
}
// 썸네일컴포넌트
.thumbnailWrap {
   // border: 1px solid tan;
   padding: 1rem 0;
}
.thumbnail {
   padding: 0 1.45em;
   @media(max-width:300px) {padding: 0 1em;}
   display: flex;
   justify-content: space-between;
   article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      &:not(:last-child) {
         margin-right: 14px;
      }
      div:first-child {
         height: 120px;
         background: #aaa;
         border-radius: 8px 8px 0 0;
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         img {
            // width: 100%; height: auto;
         }
      }
      div:last-child {
         padding: 1rem 1em;
         background: #fff;
         border-radius: 0 0 8px 8px;
         >h4 {
            overflow: hidden;
            width: 100%;
            height: 42px;
         }
         >h5 {color: tomato;}
      }
   }
}

.coupon {
  overflow: hidden;
   padding: 0 1.45em 1rem;
     @media(max-width:300px) {padding: 0 1em;}
   > article {
      display: flex;
      justify-content: space-between;
      padding: .4rem 0;
      > div {
        @media(max-width:300px) {padding: 0;}
         &:nth-child(1) {
            &:after {
               content:'';
               position: absolute;
               left: -15px; top: 50%;
               transform: translateY(-50%);
               width: 30px;height: 30px;background: #f5f5f5;
               border-radius: 50%;
            }
            position: relative;
            background: #fff;
            border-radius: 1.4rem 0 0 1.4rem;
            padding: 1rem 1.9em;
            flex: 1;
            h2,h3,h5 {
               word-break: keep-all;
               text-align: left;
            }
            >h5 {color: tomato;}
            p {
               word-break: keep-all;
               font-size: 12px;
            }
         }
         &:nth-child(2) {
            position: relative;
            &:before {
               content:'';
               position: absolute;
               right: -15px; top: 50%;
               transform: translateY(-50%);
               width: 30px;height: 30px;background: #f5f5f5;
               border-radius: 50%;
            }
            flex:.4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 1.4rem 1.4rem 0;
            padding: 1rem 2em;
            background: #fff;
            a {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               > i, h2 {color: tomato;}
               > i {font-size: 2.5rem;}
               >h2 {font-size: 1rem; padding: 10px;word-break: keep-all;text-align: center;}
            }

         }
         &:not(:last-child) {
            margin-right: 4px;
         }
      }
   }
}
.height {
   height: 80px; max-width: 768px;
   margin: 0 auto;
   background: #f5f5f5;
}

.bottomNav {
  border-top: 1px solid #eee;
  position: fixed; left: 50%;
  transform: translate(-50%);
  bottom: 0;
  background: #fff;
  width: 100%;
  // border: 1px solid tan;
  padding: 0 1em;
  @media(max-width:300px) {padding: 0;}
  >div.btns {
    display: flex; justify-content: space-between;
    > a {
      padding: .3rem 0 .6rem;
      // border: 1px solid tan;
      height: 100%;
      width: 100%;
      display: flex; flex-direction: column;
      span {
        font-size: 10px; text-align: center;
        > i {font-size: 1.5rem;}
      }
    }
  }
}

// 인풋버튼 컴포넌트
.formComponent {
  position: absolute;
  left: 50%;top: 50%; transform: translate(-50%, -50%);
  display: flex; flex-direction: column;
  width: 70%;
  @media(max-width: 480px) {
    width: 90%;
  }
  padding: 1rem;
  background: #FFF;
  h1 {
    text-align: center;padding: 4rem 0; font-weight: 300;
    color: #e76666;
    > span {font-weight: 700;color: #e76666;}
  }
  input, button {
    width: 100%;
    padding: 13px;
    margin: 4px 0;
    border: none;
    background: #eee;
    border-radius: 8px;
    &[type="button"], &[type="submit"] {
      background: #E76666; cursor: pointer;
      color: #fff; font-weight: 500;
      font-size: 16px;
    }
    &[type="checkbox"] {
      width: auto;
    }
  }
  label[for="agree"] {
    font-size: 14px;
  }
  button {
    cursor: pointer;
    border: 2px solid #eee; background: none;
    font-size: 16px;
  }
  hr {
    border:none;
    background: #eee;
    height: 1px;
    margin: 1rem 0;
  }
  > a {
    text-align: center;
    padding: 1rem 0;
    text-decoration: underline; font-size: 14px;
  }
  > p {
    color: #e76666;font-size: 12px;
    padding: 1rem 0; margin-top: 2rem;
  }
  .inputInnerBtn {
    display: flex;
    :not(:last-child) {
      margin-right: 10px;
    }
    input {
      padding: 13px 1em;
      &:first-child {flex: 1;}
      &:last-child {
         flex: .3;border: 2px solid #eee; background: transparent; color: #666;
      }
    }
  }
}
.closeXbtn {
  position: relative;
  display: block;
  > i {
    position: absolute; z-index: 9; right: 10px; top: 5px;
    color: #666 !important; font-size: 1.6rem;
  }
}
// 팝업컴포넌트
.popupBg {
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: #111; opacity: .5;
}
.popup {
  position: fixed; z-index: 10;
  border-radius: 8px;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  background: #fff;
  padding: 1rem;
  @media(min-width: 768px) {
    width: 700px;
  }
  span.popX {
    display: flex; justify-content: flex-end; font-size: 20px;
  }
}

// 팝업스타일링 - 매장찾기
.popup {
  h2 {}
  h3 {font-weight: 500; display: inline-block; padding: 0 .425em;}
  hr {
    border:none; background: #eee; height: 1px;
    margin: 1rem 0;
  }
  .thumbnail-content {
    display: flex;
    .imgWrap {flex:.4} ul {flex: 1; word-break: keep-all;}
    .imgWrap {
      background: #aaa; border-radius: 4px;
      display: flex; justify-content: center; align-items: center;
    }
    ul {
      padding: 0 1rem;
      li:last-child {
        font-size: 14px; padding: .5rem 0;
        a {
          i {
            padding-right: .5rem;
            &:hover {color: tomato;}
          }
          .bi-heart, .bi-heart-fill {
            color: tomato;
          }
        }
      }
    }
  }
}

// 버튼컴포넌트
input, button {
  width: 100%;
  padding: 13px;
  margin: 4px 0;
  border: none;
  background: #eee;
  border-radius: 8px;
  &[type="button"], &[type="submit"]  {
    background: #E76666; cursor: pointer;
    color: #fff; font-weight: 500;
    font-size: 16px;
  }
  &[type="checkbox"] {
    width: auto;
  }
}
