@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*, body { font-family: 'Noto Sans KR', sans-serif; margin: 0; padding: 0; list-style: none; -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration: none; color: #222; }

body { background: #fff; }

h1 { font-size: 20px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 18px; }

h6 { font-size: 14px; font-weight: 500; }

.thumbnailWrap, .container, header, section, .main, footer { background: #f5f5f5; max-width: 768px; margin: 0 auto; }

.slogan { position: absolute; z-index: 5; left: 50%; top: 50px; -webkit-transform: translate(-50%, 70%); transform: translate(-50%, 70%); }
.slogan h2, .slogan h1 { color: #fff; }

.megaImg { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; top: -30px; }

header { height: 210px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #602EDE; border-radius: 0 0 4rem 4rem; overflow: hidden; }
@media (max-width: 360px) { header > img { height: 100%; } }

.megaImg { width: 100%; height: 70px; }

.thumbnailWrap > h3 { font-weight: 500; padding: 10px 2em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.thumbnailWrap > h3 span > a { font-size: 14px; padding: 4px 12px; border-radius: 3px; border: none; background: #fff; }

.thumbnailWrap { padding: 1rem 0; }

.thumbnail { padding: 0 1.45em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 300px) { .thumbnail { padding: 0 1em; } }
.thumbnail article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; }
.thumbnail article:not(:last-child) { margin-right: 14px; }
.thumbnail article div:first-child { height: 120px; background: #aaa; border-radius: 8px 8px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }
.thumbnail article div:last-child { padding: 1rem 1em; background: #fff; border-radius: 0 0 8px 8px; }
.thumbnail article div:last-child > h4 { overflow: hidden; width: 100%; height: 42px; }
.thumbnail article div:last-child > h5 { color: tomato; }

.coupon { overflow: hidden; padding: 0 1.45em 1rem; }
@media (max-width: 300px) { .coupon { padding: 0 1em; } }
.coupon > article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: .4rem 0; }
@media (max-width: 300px) { .coupon > article > div { padding: 0; } }
.coupon > article > div:nth-child(1) { position: relative; background: #fff; border-radius: 1.4rem 0 0 1.4rem; padding: 1rem 1.9em; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.coupon > article > div:nth-child(1):after { content: ''; position: absolute; left: -15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 30px; height: 30px; background: #f5f5f5; border-radius: 50%; }
.coupon > article > div:nth-child(1) h2, .coupon > article > div:nth-child(1) h3, .coupon > article > div:nth-child(1) h5 { word-break: keep-all; text-align: left; }
.coupon > article > div:nth-child(1) > h5 { color: tomato; }
.coupon > article > div:nth-child(1) p { word-break: keep-all; font-size: 12px; }
.coupon > article > div:nth-child(2) { position: relative; -webkit-box-flex: .4; -ms-flex: .4; flex: .4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 0 1.4rem 1.4rem 0; padding: 1rem 2em; background: #fff; }
.coupon > article > div:nth-child(2):before { content: ''; position: absolute; right: -15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 30px; height: 30px; background: #f5f5f5; border-radius: 50%; }
.coupon > article > div:nth-child(2) a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.coupon > article > div:nth-child(2) a i, .coupon > article > div:nth-child(2) a h2 { color: tomato; }
.coupon > article > div:nth-child(2) a > i { font-size: 2.5rem; }
.coupon > article > div:nth-child(2) a > h2 { font-size: 1rem; padding: 10px; word-break: keep-all; text-align: center; }
.coupon > article > div:not(:last-child) { margin-right: 4px; }

.height { height: 80px; max-width: 768px; margin: 0 auto; background: #f5f5f5; }

.bottomNav { border-top: 1px solid #eee; position: fixed; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%); bottom: 0; background: #fff; width: 100%; padding: 0 1em; }
@media (max-width: 300px) { .bottomNav { padding: 0; } }
.bottomNav > div.btns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.bottomNav > div.btns > a { padding: .3rem 0 .6rem; height: 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.bottomNav > div.btns > a span { font-size: 10px; text-align: center; }
.bottomNav > div.btns > a span > i { font-size: 1.5rem; }

.formComponent { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 1rem; background: #FFF; }
.formComponent h1 { text-align: center; padding: 4rem 0; font-weight: 300; color: #e76666; }
.formComponent h1 > span { font-weight: 700; color: #e76666; }
.formComponent input, .formComponent button { width: 100%; padding: 13px; margin: 4px 0; border: none; background: #eee; border-radius: 8px; }
.formComponent input[type="button"], .formComponent button[type="button"] { background: #E76666; cursor: pointer; color: #fff; font-weight: 500; }
.formComponent button { cursor: pointer; border: 1px solid #eee; background: none; }
.formComponent hr { border: none; background: #eee; height: 1px; margin: 1rem 0; }
.formComponent > a { text-align: center; padding: 1rem 0; text-decoration: underline; font-size: 14px; }
.formComponent > p { color: #e76666; font-size: 12px; padding: 1rem 0; margin-top: 2rem; }

/*# sourceMappingURL=reset.css.map */