@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face { font-family: 'GmarketSansMedium'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff"); font-weight: normal; font-style: normal; }
*, body { font-family: 'Noto Sans KR', sans-serif; margin: 0; padding: 0; list-style: none; -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration: none; color: #222; }

body { background: #fff; }

h1 { font-size: 20px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 18px; }

h6 { font-size: 14px; font-weight: 500; }

.thumbnailWrap, .container, header, section, .main, footer { background: #f5f5f5; max-width: 768px; margin: 0 auto; }

.slogan { position: absolute; z-index: 5; left: 50%; top: 28px; -webkit-transform: translate(-50%, 70%); transform: translate(-50%, 70%); }
.slogan h2, .slogan h1 { font-family: 'GmarketSansMedium'; color: #fff; text-align: center; }
@media (min-width: 360px) { .slogan h1 { font-size: 1.45rem; }
  .slogan h2 { font-size: 1.3rem; } }

.megaImg { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; top: -48px; }

header { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
@media (max-width: 360px) { header > img { width: 100%; } }

.megaImg { width: 100%; height: 70px; }

.thumbnailWrap > h3 { font-weight: 500; padding: 10px 2em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.thumbnailWrap > h3 span > a { font-size: 14px; padding: 4px 12px; border-radius: 3px; border: none; background: #fff; }

.thumbnailWrap { padding: 1rem 0; }

.thumbnail { padding: 0 1.45em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 300px) { .thumbnail { padding: 0 1em; } }
.thumbnail article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; }
.thumbnail article:not(:last-child) { margin-right: 14px; }
.thumbnail article div:first-child { height: 120px; background: #aaa; border-radius: 8px 8px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }
.thumbnail article div:first-child img { width: 100%; }
.thumbnail article div:last-child { padding: 1rem 1em; background: #fff; border-radius: 0 0 8px 8px; }
.thumbnail article div:last-child > h4 { overflow: hidden; width: 100%; height: 42px; }
.thumbnail article div:last-child > h5 { color: tomato; }
.thumbnail article div:last-child > span { text-decoration: line-through; }

.coupon { overflow: hidden; padding: 0 1.45em 1rem; }
@media (max-width: 300px) { .coupon { padding: 0 1em; } }
.coupon > article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: .4rem 0; }
@media (max-width: 300px) { .coupon > article > div { padding: 0; } }
.coupon > article > div:nth-child(1) { position: relative; background: #fff; border-radius: 1.4rem 0 0 1.4rem; padding: 1rem 1.9em; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.coupon > article > div:nth-child(1):after { content: ''; position: absolute; left: -15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 30px; height: 30px; background: #f5f5f5; border-radius: 50%; }
.coupon > article > div:nth-child(1) h2, .coupon > article > div:nth-child(1) h3, .coupon > article > div:nth-child(1) h5 { word-break: keep-all; text-align: left; }
.coupon > article > div:nth-child(1) > h5 { color: tomato; }
.coupon > article > div:nth-child(1) p { word-break: keep-all; font-size: 12px; }
.coupon > article > div:nth-child(2) { position: relative; -webkit-box-flex: .4; -ms-flex: .4; flex: .4; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 0 1.4rem 1.4rem 0; padding: 1rem 2em; background: #fff; }
.coupon > article > div:nth-child(2):before { content: ''; position: absolute; right: -15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 30px; height: 30px; background: #f5f5f5; border-radius: 50%; }
.coupon > article > div:nth-child(2) a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.coupon > article > div:nth-child(2) a > i, .coupon > article > div:nth-child(2) a h2 { color: tomato; }
.coupon > article > div:nth-child(2) a > i { font-size: 2.5rem; }
.coupon > article > div:nth-child(2) a > h2 { font-size: 1rem; padding: 10px; word-break: keep-all; text-align: center; }
.coupon > article > div:not(:last-child) { margin-right: 4px; }

.height { height: 80px; max-width: 768px; margin: 0 auto; background: #f5f5f5; }

.bottomNav { border-top: 1px solid #eee; position: fixed; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%); bottom: 0; background: #fff; width: 100%; padding: 0 1em; }
@media (max-width: 300px) { .bottomNav { padding: 0; } }
.bottomNav > div.btns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.bottomNav > div.btns > a { padding: .3rem 0 .6rem; height: 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.bottomNav > div.btns > a span { font-size: 10px; text-align: center; }
.bottomNav > div.btns > a span > i { font-size: 1.5rem; }

.formComponent { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 70%; padding: 1rem; background: #FFF; }
@media (max-width: 480px) { .formComponent { width: 90%; } }
.formComponent h1 { text-align: center; padding: 4rem 0; font-weight: 300; color: #e76666; }
.formComponent h1 > span { font-weight: 700; color: #e76666; }
.formComponent input, .formComponent button { width: 100%; padding: 13px; margin: 4px 0; border: none; background: #eee; border-radius: 8px; }
.formComponent input[type="button"], .formComponent input[type="submit"], .formComponent button[type="button"], .formComponent button[type="submit"] { background: #E76666; cursor: pointer; color: #fff; font-weight: 500; font-size: 16px; }
.formComponent input[type="checkbox"], .formComponent button[type="checkbox"] { width: auto; }
.formComponent label[for="agree"] { font-size: 14px; }
.formComponent button { cursor: pointer; border: 2px solid #eee; background: none; font-size: 16px; }
.formComponent hr { border: none; background: #eee; height: 1px; margin: 1rem 0; }
.formComponent > a { text-align: center; padding: 1rem 0; text-decoration: underline; font-size: 14px; }
.formComponent > p { color: #e76666; font-size: 12px; padding: 1rem 0; margin-top: 2rem; }
.formComponent .inputInnerBtn { display: -webkit-box; display: -ms-flexbox; display: flex; }
.formComponent .inputInnerBtn :not(:last-child) { margin-right: 10px; }
.formComponent .inputInnerBtn input { padding: 13px 1em; }
.formComponent .inputInnerBtn input:first-child { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.formComponent .inputInnerBtn input:last-child { -webkit-box-flex: .3; -ms-flex: .3; flex: .3; border: 2px solid #eee; background: transparent; color: #666; }

.closeXbtn { position: relative; display: block; }
.closeXbtn > i { position: absolute; z-index: 9; right: 10px; top: 5px; color: #666 !important; font-size: 1.6rem; }

.popupBg { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #111; opacity: .5; }

.popup { overflow-y: auto; position: fixed; z-index: 10; border-radius: 8px; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 95%; height: 95%; background: #fff; padding: 1rem; }
@media (min-width: 768px) { .popup { width: 700px; } }
.popup span.popX { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; font-size: 20px; }

.popup h2 { padding: 2rem 0; }
.popup h3 { font-weight: 500; display: inline-block; padding: 0 .425em; }

.popBtns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; }
.popBtns input:not(:last-child) { margin-right: 10px; }
.popBtns > #popCancel { background: #ddd; color: #aaa; }

.store { position: relative; }
.store label { margin-left: 4px; border: 2px solid #eee; border-radius: 14px; padding: 0 .3em; }
.store input { position: absolute; left: -999px; }
.store input:checked + label { background: #eee; }
.store > h3 { position: absolute; right: 0; }
.store .thumbnail-width { display: -webkit-box; display: -ms-flexbox; display: flex; margin: .5rem 0 2.5rem; }
.store .thumbnail-width .imgWrap { -webkit-box-flex: .8; -ms-flex: .8; flex: .8; background: #aaa; border-radius: 14px 0 0 14px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.store .thumbnail-width ul { background: #eee; border-radius: 0 14px 14px 0; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; word-break: keep-all; position: relative; padding: 1rem 1rem; }
.store .thumbnail-width ul li:last-child { font-size: 14px; padding: .5rem 0; }
.store .thumbnail-width ul li:last-child span { padding: 0 .4em; }
.store .thumbnail-width ul li:last-child i { cursor: pointer; font-style: normal; }
.store .thumbnail-width ul li:last-child i:hover { color: tomato; }
.store .thumbnail-width ul li:last-child .bi-heart, .store .thumbnail-width ul li:last-child .bi-heart-fill { color: tomato; }

input, button { width: 100%; padding: 13px; margin: 4px 0; border: none; background: #eee; border-radius: 8px; }
input[type="button"], input[type="submit"], button[type="button"], button[type="submit"] { background: #E76666; cursor: pointer; color: #fff; font-weight: 500; font-size: 16px; }
input[type="radio"], button[type="radio"] { width: auto; }

/*# sourceMappingURL=reset.css.map */