.slider {
    max-width: 440px;
    margin: 0 auto;
    padding: 0 0 1rem;
    background: #f5f5f5;
}
@media (max-width:480px) {
  .slider {
    padding: 0 24px 1rem;
  }
  .slick-next, .slick-arrow {
    display: none !important;
  }
}

.slick-slide {
  margin: 0px 7px 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-prev,.slick-next {
  background: none !important;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-dots {
  max-width: 360px;
  margin: 0 auto;
  left:50%; transform: translateX(-50%);
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}


.slide_contain {
  margin: 0 auto; max-width: 640px; background:#f5f5f5
}
.thumbnail_slide {padding: 0;}
.thumbnail_slide_inner {max-width: 210px;}
